.feature {
    margin-bottom: 0.5rem;
}

.feature:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .feature {
    margin-bottom: 0.5rem;
  }
}

.featureReverse {
    flex-direction: row-reverse;
    float:right;
}

.featureImage {
  height: 256px;
}

@media screen and (max-width: 768px) {
  .featureImage {
    height: 96px;
    margin-bottom: 1.5rem;
  }
}

.featureDesc {
  display: flex !important;
  align-items: center;
}