<div class="modal" tabindex="-1" role="dialog" id="tutorial-stage">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container" style="padding-left: 0px; padding-right: 0px;">
                    <div class="row justify-content-between no-gutters">
                        <div class="col-4">
                            <h3 style="margin-top: 4px;">互动教程</h3>
                        </div>
                        <div class="col-8">
                            <div class="d-flex flex-row-reverse">
                                <button id="close-interactive-tutorial-button" type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left: 18px;">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        打开 ...
                                    </button>
                                    <div class="dropdown-menu">
                                        <a id="github-button" class="dropdown-item" href="#">在 GitHub 中查看</a>
                                        <a id="katacoda-button" class="dropdown-item" href="#">在 Katacoda 中打开</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="modal-body">
            <div id="embedded-katacoda-scenario"></div>
        </div>
      </div>
    </div>
</div>